* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-radius: 1rem;
}

body {
	background-color: #222;
	color: white;
}

a {
	text-decoration: none;
}

section#articles {
	max-width: 1240px;
	padding: 0 2rem;
	margin: 4rem auto;

	display: flex;
	flex-direction: column;
	gap: 3rem;
}
